@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,500;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --mainFont: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-grow: 2;
}

/* nav left started  */
nav .nav-left img {
    width: 120px;
    height: 20px;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 400;
    font-size: 24.348px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

nav .nav-left {
    display: flex;
    justify-content: space-between;
    gap: 24px
}

nav .nav-left ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

/* nav left end */
/* nav right started */
.nav-right .login {
    text-decoration: none;
    width: 72px;
    height: 20px;
    font-family: var(--mainFont);
    ;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.nav-right .sign-up {
    text-decoration: none;
    font-family: var(--mainFont);
    color: #FFFFFF;
    background-color: #2b788b;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 8px 18px;
    border-radius: 10px;
}

.nav-right a {
    margin-left: 20px;
}

/* nav right end */
/* section started */
section {
    margin-top: 70px;
}

section .general .section-right h4 {
    width: 275px;
    height: 20px;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 700;
    font-size: 19.8688px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
}

.p-first {
    width: 637.95px;
    height: 219px;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 800;
    font-size: 73.241px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 33px 0px 28px 0px;
}

.p-second {
    width: 461.91px;
    height: 64px;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 600;
    font-size: 22.7072px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
}

.section-sign {
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 700;
    font-size: 19.8688px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
}

.section-learning {
    padding: 15px 30px;
    background: #C3DCE3;
    border-radius: 17px;
    text-decoration: none;
    color: #2B788B;
}

.sign a {
    margin-right: 19px;
}

.sign {
    margin-top: 35px;
}

.logo {
    display: flex;
    margin-top: 80px;
}

.section-left img {
    position: absolute;
    left: 50%;
    top: 15%;
    height: 600px;
    width: 650px;

}

.logo a {
    text-decoration: none;
    width: 118px;
    height: 28px;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 600;
    font-size: 19.8688px;
    line-height: 140%;
    color: #585858;
}

/* section end */